Source: python-cassandra-driver3
Maintainer: Tyler Hobbs <tyler@datastax.com>
Section: python
Priority: optional
Build-Depends:
  debhelper (>= 8),
  python,
  python-dev,
  python-support,
  python-setuptools,
  python-concurrent.futures,
  python-six,
  libev-dev
Standards-Version: 3.9.3

Package: python-cassandra-driver3
Architecture: any
Provides: python-cassandra-driver
Breaks: python-cassandra-driver
Replaces: python-cassandra-driver
Depends:
  ${misc:Depends},
  ${python:Depends},
  python-concurrent.futures,
  python-six,
Description: Python driver for Cassandra
