Source: python-cassandra-driver3
Maintainer: Tyler Hobbs <tyler@datastax.com>
Section: python
Priority: optional
Build-Depends:
  debhelper (>= 9),
  libev4,
  libev-dev,
  cython,
  cython3,
  python-dev,
  python3-dev,
  python,
  python-support,
  python-setuptools,
  python3-setuptools,
  python-concurrent.futures,
  python-six,
  python3-six,
Standards-Version: 3.9.3
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.4

Package: python-cassandra-driver3
Architecture: any
Replaces: python-cassandra-driver
Depends:
  ${misc:Depends},
  ${python:Depends},
  python-concurrent.futures,
  python-six,
Description: Python driver for Cassandra

Package: python3-cassandra-driver3
Architecture: any
Depends:
  ${misc:Depends},
  python3 (>=3.4),
Description: Python driver for Cassandra for Python 3